.App {
    max-width: 1200px;
    margin: 0 auto; 
}
h1 {
    text-align: center;
    color: blue;
}
form {
    text-align: center;
}
form input {
      padding: 8px;
     font-size: 18px;
     border-width: 2px;
     border-color: #0c00ff;
     background-color: #fff;
     color: #000;
     border-style: solid;
     border-radius: 5px;
     box-shadow: 0px 0px 10px rgba(55,0,254,.23);
     text-shadow: -50px 0px 24px rgba(66,66,66,.0);
     margin-right: 10px;
}
form input:focus {
    outline: none;
}
.task {
    border: 2px solid blue;
    border-radius: 5px;
    width: 500px;
    padding: 15px 10px;
    margin: 25px auto;
}
input[type='checkbox'] {
    margin-right: 15px;
}
button {
   border: none;
   color: #fff;
   background: blue;
   border-radius: 5px;
   padding: 8px 18px;
   margin-top: -5px;
   cursor: pointer;
}
button:hover {
    background: rgba(0, 0, 225, 0.853);
}
button:active {
    background: rgba(2, 2, 201, 0.853);
 }
.task button {
   float: right;
}
.error-message  {
  display: block;
  margin: 15px 0;
  color: red;
  font-weight: bold;
}
